<h3>새 글 작성</h3>

<form action="/posts/create" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="post_title">제목</label>
    <input type="text" name="title" id="post_title">
    <br>
    <label for="post_content">내용</label>
    <textarea name="content" id="post_content"></textarea>
    <button type="submit">제출</button>
</form>